html
{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

*, * ::after, *::before
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body{

    height: 100%;
    background-color: rgb(241, 242, 252);
}

ul
{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.entry
{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.Autorize
{
    width: 200px;
    height: 200px;
}


.regists
{
    display: none;
    width: 200px;
    height: 200px;
}

.adminPage
{
    display: none;
}

.header
{
    max-width: auto;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;
    background-color: rgb(229, 229, 255);
    box-shadow: 0px 0px 20px rgb(138, 138, 138);
    padding: 20px 100px;
}

.infoDiv
{
    display:flex;
    gap: 40px;
}

.main
{
    margin: 0 auto;
}


.btns
{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.btns button
{
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(241, 242, 252);

}

.workFolder
{
    /* border: 1px solid black; */
    height: 400px;
}

.addAdminFolder
{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}

.addAdminFolder input
{
    padding: 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(104, 104, 104);
}

.addAdminFolder button
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    transition: all 0.3s;
}

.addAdminFolder button:hover
{
    transform: scale(1.03);
    background-color: rgb(241, 242, 252);

}




#addAdmin
{
    font-weight: bold;
    
}




.listRequests
{
    display: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.listShopsFolder
{
    display: none;
}


.headerList
{
    padding: 10px;
    display: flex;
    gap: 150px;
}

.Request
{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.listShopsFolder
{
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.listShopsFolderHeader
{   
    padding: 10px;
    display: flex;
    gap: 160px;
}



.Shops
{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}


.CreateShopFolder
{
    display: none;
    width: 500px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;

}


.CreateShopFolder input
{
    padding: 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(104, 104, 104);
}

.CreateShopFolder button
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    transition: all 0.3s;
}


.CreateShopFolder button:hover
{
    transform: scale(1.03);
    background-color: rgb(241, 242, 252);
}


/* Saller page */
.SallerPage
{
    display: none;
}

.btnsSall
{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.btnsSall button
{
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(241, 242, 252);
}

.addRequestFolder
{
    display: none;
    width: 500px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}


.addRequestFolder input
{
    padding: 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(104, 104, 104);
}

.addRequestFolder button
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10px;

    transition: all 0.3s;
}


.addRequestFolder button:hover
{
    transform: scale(1.03);
    background-color: rgb(241, 242, 252);
}


.addComentFolder
{
    display: none;
    width: 500px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}


.addComentFolder input
{
    padding: 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(104, 104, 104);
}

.addComentFolder button
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10px;

    transition: all 0.3s;
}


.addComentFolder button:hover
{
    transform: scale(1.03);
    background-color: rgb(241, 242, 252);
}




.BuyerPage
{
    display: none;
}

.btnsBuy
{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.addRequestFolderUp
{
    display: none;
}

.addComentFolderBuy
{
    display: none;
    width: 500px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.addComentFolderBuy input
{
    padding: 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(104, 104, 104);
}

.addComentFolderBuy button
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10px;

    transition: all 0.3s;
}


.addComentFolderBuy button:hover
{
    transform: scale(1.03);
    background-color: rgb(241, 242, 252);
}

.btnsBuy button
{
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(241, 242, 252);
}

.addRequestFolderUp
{
    display: none;
    width: 500px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.addRequestFolderUp input
{
    padding: 6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(104, 104, 104);
}

.addRequestFolderUp button
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10px;

    transition: all 0.3s;
}


.addRequestFolderUp button:hover
{
    transform: scale(1.03);
    background-color: rgb(241, 242, 252);
}

.addRequestBtn button
{
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(241, 242, 252);
}

/*  */


.shopPage
{
    display: none;
}

.btnShop
{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.btnShop button
{
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(241, 242, 252);
}

.listCommFolder
{
    display: none;
}

.ListWorkersFolder
{
    display: none;
}


